language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: true
sudo: false
addons:
  apt:
    packages:
    - python-numpy
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: py.test
